div {
  height: 45px;
  width: 45px;
  border: 3px solid black;
}

.corner {
  position: absolute;
}

#top-left {
  top: 0;
  left: 0;
}

#top-right {
  top: 0;
  right: 0;
}

#bottom-left {
  top: 52em;
  left: 0;
}

#bottom-right {
  top: 52em;
  right: 0;
}